---
import Button from "@/components/ui/button.astro";
import Input from "@/components/ui/input.astro";
import type { MovieStatus } from "@/types/movies";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  poster: string;
  liked: boolean;
  status: MovieStatus;
  edit?: boolean;
  id?: string;
}

const { title, poster, liked, status, edit, id } = Astro.props;
const link = edit ? `edit?id=${id}` : "add";
---

<form hx-post=`/api/${link}` hx-params="*">
  <div class="mb-3 flex items-center justify-center">
    <img src={poster} alt={title.toLowerCase()} />
  </div>
  {
    link === "edit" ?? id ? (
      <input type="hidden" name="_method" value={id} id={id} name={id} />
    ) : null
  }
  <div class="space-y-1.5 mb-3">
    <label class="text-sm" for="title">Title</label>
      <Input
      type="text"
      placeholder="Title"
      id="title"
      name="title"
      value={title}
    />
  </div>
  <div class="space-y-1.5 mb-3">
    <label class="text-sm" for="poster">Poster Link</label>
      <Input
      type="text"
      placeholder="Poster"
      id="poster"
      name="poster"
      value={poster}
    />
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="space-y-1.5 mb-5">
      <label for="status" class="text-sm">Status</label>
      <select class="w-full rounded border border-border bg-background px-3 py-1.5 placeholder:text-text/60"  id="status" name="status" value={status}>
        <option value="to-watch">To Watch</option>
        <option value="watched">Watched</option>
      </select>
    </div>
    <div class="space-y-1.5 mb-3">
      <label class="text-sm" for="liked">Liked</label>
      <input class="block" type="checkbox" id="liked" name="liked" checked={liked} />
    </div>
  </div>
  <Button>
    {edit ? "Edit" : "Add"}
    <Icon
      id="loader"
      name="loader"
      class="htmx-indicator h-6 w-6 animate-spin text-white"
      x-cloak
    />
  </Button>
</form>
{
  edit && (
  <form class="mt-4" hx-post=`/api/delete?id=${id}`>
      <Button className="bg-red-800 hover:bg-red-700">
        Delete
        <Icon
          id="loader"
          name="loader"
          class="htmx-indicator h-6 w-6 animate-spin text-white"
          x-cloak
        />
      </Button>
    </form>
  )
}
