---
interface Props {
  title: string;
  poster: string;
  edit?: boolean;
}

const { title, poster, edit } = Astro.props;
const link = edit ? "edit" : "add";
---

<a
  href=`/app/${link}?title=${title}&poster=${poster}`
  class="w-fit rounded transition-all hover:-translate-y-1"
>
  <img class="rounded" src={poster} alt={title} />
</a>
