---
import MovieForm from "@/components/movie-form.astro";
import Title from "@/components/title.astro";
import Layout from "@/layouts/AppLayout.astro";
import { getMovie } from "@/lib/pocketbase";

const id = Astro.url.searchParams.get("id");

const isLogged: boolean = Astro.locals.pb.authStore.isValid;

if (!isLogged || !id) {
  return Astro.redirect("/");
}

const movie = await getMovie(Astro.locals.pb, id);
---

<Layout title={`Edit ${movie.title}`}>
  <main class="mx-auto max-w-md lg:py-10">
    <Title title="Edit"> Edit the movie. </Title>
    <MovieForm
      edit={true}
      id={movie.id}
      title={movie.title}
      poster={movie.poster}
      liked={movie.liked}
      status={movie.status}
    />
  </main>
</Layout>
